@model IEnumerable<Cinema>

@{ 
    ViewData["Title"] = "Cinima's";
}


<div class="row cinemaRow">
    <div class="col-md-12">
        <table class="cinemaTable">
            <thead>
                <tr class="actorTr">
                    <th>@Html.DisplayNameFor(model => model.Logo)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="actorTr">
                        <td class="align-middle">
                            <img class="rounded-circle" src="@item.Logo" alt="@item.Logo" style="max-width: 150px" />
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="align-middle actionBtns">
                            <a class="btn btn-outline-primary"><i class=" bi bi-pencil-square"></i>Edit</a> |
                            <a class="btn btn-outline-danger"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>